* {
    box-sizing: border-box;
}

:root {
    --button-bg-color: #2563eb;
    --button-text-color: white;
    --form-bg-color: #f9f9f9;
    --input-bg-color: #ccc;
    --border-color: rgba(0, 0, 0, 0.1);
    --spacing-xs: 0.5em;
    --spacing-s: 1em;
    --spacing-m: 2em;
    --roundness-s: 5px;
    --roundness-m: 8px;
    --roundness-l: 10px;
    color: black
}

.dark-theme {
    --button-bg-color: #1e40af;
    --button-text-color: white;
    --form-bg-color: #1f2937;
    --input-bg-color: #374151;
    --border-color: rgba(255, 255, 255, 0.1);
    background-color: #111827;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--spacing-m);
    gap: var(--spacing-m);
}

h1 {
    font-size: 1.25em;
}

.form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-s);
    width: 80%;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: var(--spacing-s);
    gap: var(--spacing-s);
    border-radius: var(--roundness-l);
    background-color: var(--form-bg-color);
}

.form-field {
    display: flex;
    justify-content: space-between;
}

.form-buttons {
    display: flex;
    justify-content: center;
    margin: auto;
    gap: var(--spacing-s);
}
.form-buttons button {
    padding: 0.5em 5em 0.5em 5em;
    background-color: var(--button-bg-color);
}

label {
    width: 100%;
}

select, input {
    border: 1px solid var(--input-bg-color);
    border-radius: var(--roundness-s);
    width: 100%;
    padding-left: var(--spacing-xs);
}

#toggleMoreFilter {
    color: inherit;
    margin: 0 16px;
    padding: 6px 18px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background: transparent;
    cursor: pointer;
}

button {
    padding: var(--spacing-xs) var(--spacing-s);
    border: none;
    border-radius: var(--roundness-s);
    background-color: rgba(0,0,0,0.85);
    color: var(--button-text-color);
    cursor: pointer;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
    padding: 1em;
    width: 83%;
}

.card {
    /* background: var(--input-bg-color); */
    display: flex;
    border: 1px solid var(--border-color);
}

@media (max-width: 1250px) {
    img {
        height: 50% !important;
        width: 50% !important;
        margin: auto;
        border-radius: var(--roundness-l);
        transition: .3s;
    }

    .card {
        flex-direction: column;
    }
}

@media (max-width: 475px) {
    .form-buttons {
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    .form-buttons button {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 475px) {
    .form-content {
        width: 100%;
    }

    .form-container {
        width: 90%;
    }

    .form-field {
        flex-direction: column;
        gap: var(--spacing-s);
    }

    .card-container {
        width: 90%;
    }
}